@model IEnumerable<CRUD.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlagModificado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlagModificado)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.CodigoCargo">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CodigoCargo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
